body{
background-color:powderblue;
}
*{
box-sizing:border-box;

}
.column{
float:left;
width:25%;
padding:10px;
height:300px;
}
.row:after{ 
content:"";
display:table;
clear:both;
}
.img{
border-radius:50%;
width:75px;
heigth:100px;
}

#header{
	background-color: lightblue;
	color: white;
	height: 50px;
        border-radius:40px;
        border:1px solid black;
}
#h_td1{
	width: 70px;
	color: white;
}
#h_td2{
	width: 70px;
}
#h_td3{
	width: 70px;
}
#h_td4{
	width: 70px;
}
.clr{
	color:white;	
        position:static;
}
.clr:hover{
	background-color:red;
}
#section_about,#section_home,#section_News{
	height:100px;
}
#footer{
	
	color: green;
	height: 100px;
}
#table{
 		 font-family: arial, sans-serif;
		 style="width: 100%";
		 
}
th,td{
  text-align: center;
  
}
th,td{
 border:1px solid black;
border-radius:0%;
}


